page-slide-show {
    .scroll-content {
        background-color: #222222;
    }
    .image-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #imagePlayer {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}
