page-check-list {
    ion-item-sliding {
        margin: 5px;
    }

    ion-checkbox {
        font-size: 0.9em;
        font-weight: bold;
        color: #282828;
        padding-top :0px;
        padding-bottom: 0px;
        padding-left: 4px;
        border: none !important;
    }

    ion-item-content {
        border: none !important;
    }

    ion-checkbox .item-inner {
        border-bottom: none !important;
    }
}
